
<div class="jumbotron jumbotron-fluid homepage-jumbo">
  <div class="container homepage-jumbo-words">
    <div class="row">
    <div class="col-sm-12"><h1 id = "title">Class Champion</h1></div>
  </div>
  <div class="row">
    <div class="col-sm-12"><p class = "jumbotron-p">Incentivize yourself to complete your assignmets on time!</p></div>
  </div>
  </div>


<div class="container hompage-btn-container">
   <div class="row">
    <div class="col-sm-6"><%= link_to t(".sign_in"), sign_in_path,:class => "btn btn-warning homepage-btn" %></div>
    <div class="col-sm-6"><%= link_to t(".sign_up"), sign_up_path,:class => "btn btn-warning homepage-btn" %></div>
  </div>
</div>

  
