<div class ="card card-default" id= sign-in-box>
  <div id=sign-in-box-heading class="card-heading">Sign-in</div>
  <div class = "card-body">
      <div id="clearance" class="sign-in">
        <%= render partial: '/sessions/form' %>
      </div>
  </div>
</div>