<p>
    <strong> Title:</strong>
    <%= @incentive.title %>
</p>

<p>
    <strong> Text:</strong>
    <%= @incentive.text %>
</p>

<p>
    <strong> Cost:</strong>
    <%= @incentive.cost %>
</p>

<p>
    <strong> Picture:</strong>
    <%= @incentive.image %>
</p>
