<div class ="card card-default" id=sign-in-box>
  <div id=sign-in-box-heading class="card-heading">Sign-up</div>
<div id="clearance" class="sign-up">
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

<div class = "container signing-btns">
  <div class = "row">
    <div class="col-sm-12">
    <div class="submit-field">
      <%= form.submit "Sign Up", :class => "btn btn-primary" %>
    </div>
    </div>
</div>

  <% end %>
</div>
</div>
