// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';



body{background-color: #046A38;}
input[type= text]{
    width: 25%;
    padding: 12px 12px;
    border: 2px solid #b9975b;
    background-color: #dfedd6;
    margin:20px 25%;
    
}

textarea{
    width: 25%;
    padding: 12px 12px;
    border: 2px solid #b9975b;
    background-color: #dfedd6;
    margin: 20px 25%;
}

h1.new-page{
    color:#b9975b; 
    font:40px bold; 
    font-style: "Abril Fatface"; 
    margin:20px 42.5%; 
    width:300px;
    text-align:center;
}

input[type=submit]{
    background-color: #b9975b;
    border: 2px solid white;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

p{
    color: white;
    text-align:center;
    
}

table, th, td{
    border: 2.5px solid #b9975b;
    padding: 12px 12px;
    text-align: left;
    background-color: white;
}

a:link, a:visited {
  background-color: #b9975b;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}