// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$btn-bg-color: #b9975b;
$btn-txt-color: white;
.homepage-jumbo{
    background-image: url("Climbing-books.png");
    transform: scale(1.2);
    background-size: 100% 100%;

    height: 500px;
    width: 1550px;
}
.homepage-jumbo-words{
    background-color: #363636;
    border-radius: 20px;
    margin-top: 40px;    margin-left: 17.5%;
    padding-top: 10px;
    opacity: .85;
    width: 100%;
    height: 80%;
}
.homepage-jumbo-words div{ margin-left: -60px;}
#title{color: white; font: 70px bold; font-style: "Abril Fatface"; margin: 20px 34.333%; width: 480px; text-align: center;}
.jumbotron-p{
    color: white; font: 40px bold; font-style: "Abril Fatface"; margin: 10px 30%; width: 600px; text-align: center;
}
.hompage-btn-container{
    margin-top: 120px;
}
.homepage-btn{
    background-color: rgb(68, 199, 103);
    border-radius: 21px;
    border: 3px solid rgb(24, 171, 41);
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 23px;
    font-style: italic;
    padding: 19px 46px;
    text-decoration: none;
    text-shadow: rgb(47, 102, 39) 0px 1px 0px;
}
#sign-in-box{
    text-align:center;
    background-color: #59f255;
    width: 400px; height: 350px; 
    margin: 100px 0 0 36.33333%;
    border-radius: 25px;
    border: 2px solid #dfedd6;
    padding: 20px; 
}
#sign-in-box-heading{color:white; font: 50px strong; font-style: "Abril Fatface"; margin: 20px 0px 0px 21%; width: 200px; text-align: center;}
.homepage-large-text{color:white; font:40px bold; font-style: "Abril Fatface"; margin:20px 36.333%; width:300px;text-align:center;}
.card-heading{margin:0 33.333%;}
.form-group{ margin-top:5px;}
.sign-in-btn{background-color:white; color:black; border-color:black; border-radius: 25px; width:200px; margin-top:8px; }
.homepage-btn{width: 250px; background-color: #b9975b; color:white;font:20px bold; font-style: "Abril Fatface";border: 2px solid #dfedd6;border-radius: 25px; margin:0 38.33%;}
