// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{background-color: #046A38;}
h1{color:white; font:40px bold; font-style: "Abril Fatface"; margin:20px 36.333%; width:300px;text-align:center;}
#sign-in-box{
    text-align:center;
    background-color: #b9975b; 
    width: 400px; height: 275px; 
    margin:20px 33.33333%;
    border-radius: 25px;
    border: 2px solid #dfedd6;
    padding: 20px; 
}
#sign-in-box-heading{color:white; font:30px strong; font-style: "Abril Fatface"}
.card-heading{margin:0 33.333%;}
.form-group{ margin-top:5px;}
.homepage-btn{width: 250px; background-color: #b9975b; color:white;font:40px bold; font-style: "Abril Fatface";border: 2px solid #dfedd6; margin:0 38.33%;}
.sign-in-btn{background-color:white; color:black; border-color:black; width:200px; margin-top:8px; }